
@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: hsl(230, 17%, 14%);
    font-size: 14px;
    color: white;
    font-weight: 700;
    transition: all .8s ease-in-out;
}

.header{
    background-color: hsl(232, 19%, 15%);
    padding: 20px;
    display: flex;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 40px;
    transition: all .8s ease-in-out;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
.header-light{
    background-color: hsl(225, 100%, 98%);
    transition: all .8s ease-in-out;
}

.title-light{
    color: hsl(230, 17%, 14%);
    transition: all .8s ease-in-out;
}

.main{
    flex-direction: column;
}
.main h1{
    margin-bottom: 5px;
}
.main h1, .main p{
    margin: 0;
    letter-spacing: .4px;
}
.p{
    color: hsl(228, 34%, 66%);
    font-size: 13px;
}

.header p{
    color: hsl(228, 12%, 44%);
    margin-left: auto;
}

.select{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10px;
    margin-bottom: 2px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    transition: 0.3s;
  }
  .switch:hover{
    opacity: 0.7;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(55,143,230,1) 0%, rgba(62,218,130,1) 100%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2.1px;
    background-color: hsl(230, 17%, 14%);
    -webkit-transition: .8s;
    transition: .8s;
  }
  
  input:checked + .slider {
    background: hsl(230, 22%, 74%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



.grid{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 260px);
    justify-content: center;
    gap: 35px;
}

.color{
    width: 100%;
    height: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.content{
    background-color: hsl(228, 28%, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    padding: 30px;
    transition: all .8s ease-in-out;
    border-radius: 4px;
    cursor: pointer;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
.content:hover{
    filter: brightness(130%);
    transition: 0.3s;
}
.content_:hover{
    filter: brightness(130%);
    transition: 0.3s;
}
.content-light{
    background-color: hsl(227, 47%, 96%);
    transition: all .8s ease-in-out;
}

.content h1{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 25px;
    transition: all .8s ease-in-out;
}
.number-light{
    color: hsl(230, 17%, 14%);
    transition: all .8s ease-in-out;
}

.content > p{
    margin-top: 1px;
    letter-spacing: 5px;
    color: hsl(228, 34%, 66%);
}
.tag{
    display: flex;
    align-items: center;
}
.tag span{
    color: hsl(228, 34%, 66%);
    font-weight: bold;
    margin-left: 10px;
}
.fa-caret-down{
    color: hsl(356, 69%, 56%);
}
.fa-caret-up{
    color: hsl(163, 72%, 41%);
}
.fa-solid{
    margin-top: 15px;
    font-weight: 700;
    font-size: 12px;
}

.fa-solid > p{
    margin: 0;
    display: inline;
    margin-left: 2px;
    font-family: 'Inter';
}
.title{
    text-align: center;
    margin-top: 40px;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

.content_{
    background-color: hsl(228, 28%, 20%);
    width: 210px;
    padding: 25px;
    border-radius: 4px;
    transition: all .8s ease-in-out;
    cursor: pointer;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}
.content_-light{
    background-color: hsl(227, 47%, 96%);
    transition: all .8s ease-in-out;
}


.content_ > .p{
    float: left;
    margin: 0;
}
.content_ > img{
    float: right;
}

.content_ h1{
    padding-top: 20px;
    margin-bottom: 0;
}

.content_ > .fa-solid{
    float: right;
}



@media (max-width:1150px){
    .grid{
        grid-template-columns: repeat(2, 260px);
    }
 }

@media (max-width: 640px){
    .grid{
        grid-template-columns: repeat(1, 260px);
    }
}
